html { height: 100%; }
*    { -moz-box-sizing: border-box;
            box-sizing: border-box; }
body {
  height: 100%;
  background: #fff;
  /* Modal moving problem */
  padding-right: 0px !important; }

a:hover, a:focus {
  outline: none; }

small {
  float: right; }



/* NAVBAR */
div#navbar a[role="button"]>i {
  font-size: 20px;
  margin-top: 2px;
}
div#navbar ul[role="menu"] i {
  margin-right: 15px;
}
@media (min-width: 768px) {
  ul.navbar-right>li:last-child {
  margin-right: 15px; /* Fix Bootstrap navbar-right problem on the last li-element */ } 
}



/* BODY */
.bodywrapper {
  padding-top: 40px;
  height: 100%; }

/* Modal moving problem */
.modal-open {
  overflow-y: auto; }

.page-wrapper {
  min-height: 100%;
  height: auto;
  background-color: #fff;
  padding-top: 60px;
  padding-bottom: 100px; }
.page-wrapper .container .row {
  padding-left: 5px;
  padding-right: 5px; }

footer {
  height: 200px;
  background: #333;
  border-top: 5px solid #111; }



/* TABLES */
.last-to-right td:last-child, .last-to-right th:last-child {
  text-align: right;
  min-width: 70px;
}


/* MODALS */
.loginWrapper {
  width: 95%;
  max-width: 600px;
  margin: auto; }

.loginDialog .modal-body {
  padding-top: 30px; }

.modal form select {
  width: 100%; height: 35px; padding-left: 5px;
}
.modal button.close {
  margin-top:8px; margin-right:5px;
}
.modal-dialog {
  width:95%;
  max-width: 750px;
}
input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #e87d0b;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(232, 125, 11, 0.6);
  outline: 0 none;
  outline-offset: 0;
}