<div class="row" ng-controller="ContactsPageController as vm" ngCloak>
          <div class="col-lg-10 col-lg-offset-1">
            <h2 class="page-header"><i class="fa fa-th-list"></i> Contacts <small ng-show="vm.loadingContacts"><span class="fa fa-spinner fa-spin fa-2x"></span></small></h2>
            <div class="row">
              <div class="col-xs-12">
                <table class="table table-condensed">
                  <thead>
                    <tr>
                      <th>Firstname</th>
                      <th>Lastname</th>
                      <th>Phone</th>
                      <th>Email</th>
                      <th class="text-right">
                        <div class="btn-group" role="group" aria-label="true">
                          <button type="button" class="btn btn-default btn-xs" ng-click="vm.getContacts()">
                            <i class="fa fa-refresh"></i>
                          </button>
                          <button type="button" class="btn btn-default btn-xs" ng-click="vm.openContactsModal('create', false)">
                            <i class="fa fa-plus"></i>
                          </button>
                        </div>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="contact in vm.contacts" id="{{ contact._id }}">
                      <td>{{ contact.firstname }}</td>
                      <td>{{ contact.lastname }}</td>
                      <td>{{ contact.phone }}</td>
                      <td>{{ contact.email }}</td>
                      <td class="text-right">
                        <div class="btn-group" role="group" aria-label="true">
                          <button type="button" class="btn btn-default btn-xs" ng-click="vm.openContactsModal('edit', contact._id)">
                            <i class="fa fa-pencil"></i>
                          </button>
                          <button type="button" class="btn btn-default btn-xs" ng-click="vm.openContactsModal('delete', contact._id)">
                            <i class="fa fa-remove"></i>
                          </button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div>
          <script type="text/ng-template" id="contactsModal.html">
            <div class="modal-header">
              <button type="button" class="close" ng-click="vm.cancel()">x</button>
              <h4>{{ vm.modalInfos.titel }}</h4>
            </div>
            <form class="form-horizontal" name="ContactForm" ng-submit="submitForm(ContactForm.$valid)" novalidate>
              <div class="modal-body">
                <div class="modal-spinner text-center" ng-show="vm.loading">
                  <span class="fa fa-spinner fa-spin fa-4x"></span>
                </div>
                <div class="form-group">
                  <label for="modelId" class="col-sm-2 control-label">ID</label>
                  <div class="col-sm-10">
                    <input id="modelId" class="form-control" type="text" placeholder="Automatic" ng-model="vm.model._id" disabled>
                  </div>
                </div>
                <div class="form-group">
                  <label for="modelFirstname" class="col-sm-2 control-label">Firstname</label>
                  <div class="col-sm-10">
                    <input id="modelFirstname" class="form-control" type="text" placeholder="Firstname" ng-model="vm.model.firstname" ng-disabled="vm.disabledMe" ng-required="!vm.disabledMe">
                  </div>
                </div>
                <div class="form-group">
                  <label for="modelLastname" class="col-sm-2 control-label">Lastname</label>
                  <div class="col-sm-10">
                    <input id="modelLastname" class="form-control" type="text" placeholder="Lastname" ng-model="vm.model.lastname" ng-disabled="vm.disabledMe" ng-required="!vm.disabledMe">
                  </div>
                </div>
                <div class="form-group">
                  <label for="modelPhone" class="col-sm-2 control-label">Phone</label>
                  <div class="col-sm-10">
                    <input id="modelPhone" class="form-control" type="text" placeholder="Phone" ng-model="vm.model.phone" ng-disabled="vm.disabledMe">
                  </div>
                </div>
                <div class="form-group">
                  <label for="modelEmail" class="col-sm-2 control-label">Email</label>
                  <div class="col-sm-10">
                    <input id="modelEmail" class="form-control" type="text" placeholder="Email" ng-model="vm.model.email" ng-disabled="vm.disabledMe">
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn" ng-click="vm.ok()" ng-class="vm.modalInfos.buttonClass" ng-disabled="ContactForm.$invalid">{{ vm.modalInfos.submitButton }}</button>
              </div>
            </form>
          </script>
        </div>