<div class="row" ng-controller="LogsController as vm" ngCloak>
          <div class="col-lg-10 col-lg-offset-1">
            <h2 class="page-header"><i class="fa fa-th-list"></i> Logs <small ng-show="vm.loading"><span class="fa fa-spinner fa-spin fa-2x"></span></small></h2>
            <div class="row">
              <div class="col-xs-12">
                <table class="table table-condensed">
                  <thead>
                    <tr>
                      <th>When</th>
                      <th>What</th>
                      <th class="text-right">
                        <div class="btn-group" role="group" aria-label="true">
                          <button type="button" class="btn btn-default btn-xs" ng-click="vm.getLogs()">
                            <i class="fa fa-refresh"></i>
                          </button>
                        </div>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="log in vm.logs" id="{{ log._id }}">
                      <td>{{ log.date | date : 'medium' }}</td>
                      <td colspan="2">{{ log.what }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
