<!doctype html>
<html ng-app="ContactsApp">
  <head>
    <title>Contacts App</title>
    <link rel="stylesheet" href="../vendor.css">
    <link rel="stylesheet" href="../app.css">
    <base href="/contactsapp/">
  </head>
  <body ngCloak>
    <div class="bodywrapper">
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="isCollapsed=!isCollapsed">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div id="navbar" class="navbar-collapse" collapse="!isCollapsed">
            <ul class="nav navbar-nav">
              <li dropdown>
                <a dropdown-toggle href="#" role="button"><i class="fa fa-th"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a ui-sref-opts="{reload:true}" ui-sref="home"><i class="fa fa-home"></i>Home</a></li>
                  <li><a ui-sref-opts="{reload:true}" ui-sref="contacts"><i class="fa fa-th-list"></i>Contacts</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li dropdown>
                <a dropdown-toggle href="#" role="button"><i class="fa fa-user"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a ui-sref-opts="{reload:true}" ui-sref="profile"><i class="fa fa-user"></i>Profile</a></li>
                  <li><a ui-sref-opts="{reload:true}" ui-sref="logs"><i class="fa fa-th-list"></i>Logs</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="page-wrapper">
        <div ui-view class="container"></div>
      </div>
      <footer>
        <div class="text-center"></div>
      </footer>
      <div>
        <script type="text/ng-template" id="errorModal.html">
          <div class="modal-header">
            <h4>Error</h4>
          </div>
          <div class="modal-body">
            <pre>{{ vm.error | json }}</pre>
          </div>
          <div class="modal-footer">
            <button ng-click="vm.ok()" class="btn btn-danger">Close</button>
          </div>
        </script>
      </div>
      <script src="../vendor.js"></script>
      <script src="../app.js"></script>
      <script>require("js/app.core");</script>
    </div>
  </body>
</html>
